streamlit
langchain
nltk
langchain-google-genai
langchain-huggingface
faiss-cpu
unstructured
python-dotenv
streamlit-chat
# Pre-download 'punkt' and 'averaged_perceptron_tagger' using nltk.download()
